<%= form_with(model: entity, url: group_entities_path) do |form| %>
  <% if entity.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(entity.errors.count, "error") %> prohibited this entity from being saved:</h2>

      <ul>
        <% entity.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.text_field :name, class: 'form-control my-3', placeholder: 'Enter name' %>
  </div>

  <div class="form-group">
    <%= form.text_field :amount, class: 'form-control my-3', placeholder: 'Enter amount' %>
    <%= form.hidden_field :group_id, {value: @group_id} %>
  </div>

  <div class="form-group">
    <%= form.submit 'Save Entity', class: 'btn btn-primary btn-sm bg-blue col-12' %>
  </div>
<% end %>
